.linkedin- {
  &1 {
    fill: #027bba;
  }
  &2 {
    fill: #f1f2f2;
  }
}

.linkedin_white_bg- {
  &1 {
    fill: #fff;
  }
  &2 {
    fill: #3d83d9;
  }
}

.linkedin-white-circle-1{
  fill: #fff;
}
